html {
    scroll-behavior:smooth;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
}

.boek {
    border-bottom: 2px solid #1c7cbc ;
}

.boek h3 {
    color: #bc1c7c;
    text-align: center;
    font-size: 1.5rem;
}



.boek img {
    height: 300px;
    margin-right: 50px;
}

.tekst-boek {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .tekst-boek {
        flex-direction: column;
    }
}