
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
  color: #bc1c7c !important ;
}

main img {
    width: 300px;
}

h3 {
  font-size: 16px;
}
.faq-item {
  width: 100%;
    max-width: 600px;

}
main {
  display: flex;
  align-items: center;
}
main div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.faq-question {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  
  /* Verberg het antwoord standaard */
  .faq-answer {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    background-color: #fff;
  }
  
  /* Stijl wanneer de vraag geactiveerd is */
  .faq-active .faq-answer {
    display: block;
  }

  .faq-toggle {
    font-size: 26px;
    padding-left: 10px;
    user-select: none;
  }
  
  /* Initieel tonen we de '+' en verbergen we de '-' */
  .faq-active .faq-toggle.plus {
    display: none; /* Verberg de + als het antwoord zichtbaar is */
  }
  
  .faq-toggle.minus {
    display: none; /* Verberg de - standaard */
  }
  
  .faq-active .faq-toggle.minus {
    display: inline; /* Toon de - als het antwoord zichtbaar is */
  }

  @media screen and (min-width: 1500px) {
    main {
      flex-direction: row;
      justify-content: center;
      align-items: start;
    }

    main img {
      width: 600px;
      margin-left: 50px;

    }

    .faq-question {
      margin-left: 50px;
    }

  }

  @media (min-width:900px) {
    main img {
      width: 500px;

    }

    h3 {
      font-size: 22px
    }
  }

