.footer-container {
    background-color: white;
    position: relative;
    z-index: -1;
    width: 100vw;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* Stack items verticaal */
    align-items: center;
    /* Centreer items horizontaal */
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    z-index: 5;
}

.blur-section,
.gradient-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* Of een specifieke hoogte, afhankelijk van je ontwerp */
    z-index: -1;
    /* Zorg dat ze achter de andere content staan */
}

.blur-section {
    filter: blur(3px);
    /* Pas de mate van blur aan naar wens */
    position: absolute;
    background-color: white;
}

.gradient-section {
    background-color: white;
    background: linear-gradient(to left, #1c7cbc, white);
    height: 170px;
    width: 100%;
    margin-right: -30px;
    position: absolute;
    top: 0;
}

.footer-info {
    padding-top: 40px;
    width: 80%;
    /* Of een andere gewenste breedte */
    max-width: 1200px;
    /* Max breedte voor grote schermen */
    display: flex;
    justify-content: space-around;
}

.footer-nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    width: 70pc;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a.active {
    color: #bc1c7c;
}

.footer-nav a:hover {
    color: #bc1c7c;
}

.footer-info img {
    margin-right: 20px;
    object-fit: contain;
}

@media (max-width:1000px) {
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gradient-section {
        height: 300px;
    }

    .footer-info img {
        padding-bottom: 20px;
    }

    .footer-nav {
        width: 120%;
        display: flex;
        justify-content: space-between;
    }

    .footer-nav a {
        font-size: 15px;
        width: 40px;
    }

    .contact-footer {
        display: flex;
        flex-direction: column;
    }
}

@media (min-height:1200px) {
    #contact {
        position: absolute;
        bottom: 0px;
    }
}