
body{
    font-family : 'Avenir' ;
    background-color: #F4F2F2;
}
h1{
    margin-top: 100px;
   text-align: center;
   font-size: 75px !important;
   color: #bc1c7c !important;
}
h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    font-size: 24px;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
}
.sticky {
    position: fixed;
    top: 2%;
    width: 76.5%; /* Ensures the width remains the same */
    padding: 20px;
    max-width: 1200px;
    z-index: 1000; /* Optional: Ensures the navbar stays on top of other content */
}

.oae-sticky {
    margin-top: 195px;
}


.black-line {
    height: 40px;
    width: 3px;
    background-color: #D9D9D9;
}

.nav-inner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    border: 3px solid #D9D9D9;
    border-radius: 100px;
    box-shadow: #D9D9D9 8px 4px;
}


.nav-inner a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.nav-inner a:hover {
    color: #1c7cbc ;
}
.nav-inner a.active {
    color: #1c7cbc; 
  }
.text-oae {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text-oaeDivImg img {
    width: 350px;
    padding: 20px;
}

.text-oae div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 4px solid #bc1c7c;
    border-bottom: 4px solid #bc1c7c;
    padding: 20px;
}

#OnzeAanpak{
    width: 100% ;
display: flex;
justify-content: space-between;
padding: 20px;
}

#OnzeAanpak div:nth-child(2) {
    border-left: 4px solid #bc1c7c;
    border-top: 4px solid #bc1c7c;
    padding: 20px;
    margin-top: -24px;
    margin-bottom: -20px;
    margin-right: -20px;
    margin-left: 10px;
}
#WaaromKiest {
    width: 100%;
    border-top: 4px solid #bc1c7c;
    border-left: 4px solid #bc1c7c;
    padding: 20px;
    margin-bottom: 50px;
}
.content-oae {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#OnzeAanpakDivImg {
    display: flex;
    justify-content: center;
}
#OnzeAanpak img{
    width: 400px;
}


#oae h4 {
    display: inline;
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .text-oae img {
        object-fit:contain;
        width: 250px;
        height: 400px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .text-oae {
        flex-direction: column;
        align-items: center;
    }
    #text-oaeDivImg {
        border-right: 4px solid #bc1c7c;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #text-oaeDivImg img {
        width: 250px;
        height: 400px;
    }

    .text-oae div {
        margin-right: 0px;
    }

    #OnzeAanpak div:nth-child(2) {
        border-bottom: 4px solid #bc1c7c;
        
    }
    #OnzeAanpak {
        flex-direction: column-reverse;
        width: 100%;
    }
    #OnzeAanpak img {
        margin-right: auto;
        width: 400px;
        margin: 20px;
        margin-bottom: -20px;
    }
    #OnzeAanpakDivImg {
        margin-bottom: -20px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 20px;
        padding-bottom: 60px;
        width: 100%;
        border-right: 4px solid #bc1c7c;
    }
}

@media screen and (max-width: 600px) {
    #OnzeAanpak img {
        width: 280px;
    }
}

#logo-band {
    margin-top: -400px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.project-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color:white;
    margin: 20px;
    margin-top: 250px;
    margin-bottom: 400px;
}

.project-logo-container img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.schuine-box {
    width: 100%;
    height: 400px; 
    background-color: #bc1c7c;
    clip-path: polygon(0 200px, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: -10;
    overflow: hidden;
}
.schuine-box::before,
.schuine-box::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    background-color: rgba(0, 142, 216, 0.6); /* Eerste kleur, semi-transparant */
    border-radius: 50%; /* Voor ronde vormen */
    animation: moveAndBlur 20s linear infinite;
    filter: blur(50px);
}

.schuine-box::after {
    background-color: rgba(189, 27, 67, 0.6); /* Tweede kleur, semi-transparant */
    animation-delay: 5s; /* Vertraag de tweede box */
}

.schuine-box .animated-box:nth-child(1) {
    background-color: rgba(0, 199, 216, 0.6);
    filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 20s linear infinite;
}

.schuine-box .animated-box:nth-child(2) {
    background-color: rgba(0, 216, 137, 0.6);
    animation-delay: 5s;
}

.schuine-box .animated-box:nth-child(3) {
    background-color: rgba(130, 59, 157, 0.6);
      filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 30s linear infinite;
}

.schuine-box .animated-box:nth-child(4) {
    background-color: rgba(0, 142, 216, 0.6);
    border-radius: 50%;
    animation: moveAndBlu2 30s linear infinite;
}

@keyframes moveAndBlur {
    0% {
        width: 10px;
        height: 30px;
        right: -20%;
        top: 20%;
    }
    50% {
        width: 400px;
        height: 300px;
    }
    100% {
        width: 200px;
        height: 100px;
        right: 50%;
        bottom: 0%;
    }
}

@keyframes alternateMoveAndBlur {
    0% {
        width: 10px;
        height: 30px;
        left: -20%;
        bottom: 20%;
    }
    50% {
        width: 400px;
        height: 300px;
    }
    100% {
        width: 200px;
        height: 100px;
        left: 50%;
        top: 0%;
    }
}

@keyframes movesAndBlur2 {
    0% {
        bottom: 0%;
        right: 0%;
        width: 5%;
        height: 2%;
    }
    25% {
        bottom: 75%;
        right: 30%;
        width: 10%;
        height: 5%;
    }
    50% {
        bottom: 100%;
        right: 50%;
        width: 7%;
        height: 8%;
    }
    75% {
        bottom: 50%;
        right: 60%;
        width: 3%;
        height: 3%;
    }
    100% {
        bottom: 100%;
        right: 80%;
        width: 10%;
        height: 6%;
    }
}
#projecten {
    display: flex;
    flex-direction: column;
}
#projecten h2 {
    color: white;
}
#projectenHref {
    margin-bottom: -220px;
    margin-left: 70%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    z-index: 5;
}

#projectenHref:hover {
    text-decoration: underline;
}

#supply-chain {
    margin-top: -300px;
}

#supply-chain section div {
    display: flex;
    align-items: center;
}

#supply-chain-h2 {
    display: block;
}
#supply-chain-img {
    width: 300px;
}


.process-flow {
    margin-top: -330px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .step {
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
    margin: 0 10px;
    position: relative;
  }
  
  .step:nth-child(1) {
    background-color: 	#355E3B;
  }
  .step:nth-child(2) {
    background-color: #2E8B57;
  }
  .step:nth-child(3) {
    background-color: green;
  }
  .step:nth-child(4) {
    background-color:#50C878 ;
  }
  .step:nth-child(5) {
    background-color:#AFE1AF ;
  }
  .step:nth-child(6) {
    background-color: #3498DB;
  }
  .step:nth-child(7) {
    background-color: #AED6F1 ;
  }
  .step:nth-child(8) {
    background-color:  #D6EAF8 ;
  }
  .step::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent ;
    transform: translateY(-50%);
  }
  .step:nth-child(1)::before {
    border-color: transparent transparent transparent #355E3B;
  }
  
  .step:nth-child(2)::before {
    border-color: transparent transparent transparent #2E8B57;
  }
  
  .step:nth-child(3)::before {
    border-color: transparent transparent transparent green;
  }
  
  .step:nth-child(4)::before {
    border-color: transparent transparent transparent #50C878;
  }
  
  .step:nth-child(5)::before {
    border-color: transparent transparent transparent #AFE1AF;
  }
  
  .step:nth-child(6)::before {
    border-color: transparent transparent transparent #3498DB;
  }
  
  .step:nth-child(7)::before {
    border-color: transparent transparent transparent #AED6F1;
  }
  
  .step:nth-child(8)::before {
    border-color: transparent transparent transparent #D6EAF8;
  }
  .step-number {
    min-width: 106px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .step-title {
    min-width: 106px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .step-detail {
   min-width: 106px;
    margin-top: 10px;
    font-size: 1em;
  }

  @media (max-width: 1200px) {
    .process-flow {
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-padding-left: 20px;
        justify-content:start;
    }

    .step {
        margin-right: 20px;
    }

   
  }
  
  /* Style adjustments for the last step so it doesn't have an arrow */
  .process-flow .step:last-child::before {
    content: none;
  }


.schuine-box2 {
    width: 100%;
    height: 530px; 
    background-color: #bc1c7c;
    clip-path: polygon(0 200px, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: -10;
    overflow: hidden;
}
.schuine-box2::before,
.schuine-box2::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    background-color: rgba(0, 142, 216, 0.6); /* Eerste kleur, semi-transparant */
    border-radius: 50%; /* Voor ronde vormen */
    animation: moveAndBlur 20s linear infinite;
    filter: blur(50px);
}

.schuine-box2::after {
    background-color: rgba(189, 27, 67, 0.6); /* Tweede kleur, semi-transparant */
    animation-delay: 5s; /* Vertraag de tweede box */
}

.schuine-box2 .animated-box:nth-child(1) {
    background-color: rgba(0, 199, 216, 0.6);
    filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 20s linear infinite;
}

.schuine-box2 .animated-box:nth-child(2) {
    background-color: rgba(0, 216, 137, 0.6);
    animation-delay: 5s;
}

.schuine-box2 .animated-box:nth-child(3) {
    background-color: rgba(130, 59, 157, 0.6);
      filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 30s linear infinite;
}

.schuine-box2 .animated-box:nth-child(4) {
    background-color: rgba(0, 142, 216, 0.6);
    border-radius: 50%;
    animation: moveAndBlu2 30s linear infinite;
}

#a-supply-chain {
    margin-top: 170px;
    margin-bottom: -170px;
    margin-left: 70%;
}
#a-supply-chain  a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#a-supply-chain  a:hover {
    text-decoration: underline;
}

#partners-p {
    text-align: center;
}

.carousel-caption {
    color: black;
    margin: 50px;
}

.carousel-item {   
    color: black !important;
    background-color: #D9D9D9;
    height: 700px;
    max-width: 900px;
}

.carousel.slide {
    margin: auto;
    max-width: 900px; 
}

.carousel-item img {
    display: block;
    min-width: 150px;
    max-width: 60%;
    margin: 4% 20%;
}
#fotoNiels {
    margin: 4% 25%;
    max-width: 50%;
    padding: 0px 12%;
    align-items: center;
}

@media (max-width:550px) {
    .carousel-item {
        height: 800px;
    }
    .carousel-caption {
        margin: 0px;
    }
    .carousel-item img {
        max-width: 75%;
        margin: 4% 10%;
    }
    #ahrefOptimum {
        flex-direction: column;
    }
    #fotoNiels {
        padding: 4% 0% ;
    }
}

.carousel-inner {
    max-width: 900px;
    color: black;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.ahrefOptimum {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.schuine-box3
 {
    width: 100%;
    height: 400px; 
    background-color: #bc1c7c;
    clip-path: polygon(0 200px, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: -10;
    overflow: hidden;
}
.schuine-box3::before,
.schuine-box3::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    background-color: rgba(0, 142, 216, 0.6); /* Eerste kleur, semi-transparant */
    border-radius: 50%; /* Voor ronde vormen */
    animation: moveAndBlur 20s linear infinite;
    filter: blur(50px);
}

.schuine-box3::after {
    background-color: rgba(189, 27, 67, 0.6); /* Tweede kleur, semi-transparant */
    animation-delay: 5s; /* Vertraag de tweede box */
}

.schuine-box3 .animated-box:nth-child(1) {
    background-color: rgba(0, 199, 216, 0.6);
    filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 20s linear infinite;
}

.schuine-box3 .animated-box:nth-child(2) {
    background-color: rgba(0, 216, 137, 0.6);
    animation-delay: 5s;
}

.schuine-box3 .animated-box:nth-child(3) {
    background-color: rgba(130, 59, 157, 0.6);
      filter: blur(50px);
    border-radius: 50%;
    animation: alternateMoveAndBlur 30s linear infinite;
}

.schuine-box3 .animated-box:nth-child(4) {
    background-color: rgba(0, 142, 216, 0.6);
    border-radius: 50%;
    animation: moveAndBlu2 30s linear infinite;
}

#neemContactOpDiv {
    margin-top: -200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#neemContact {
    color: #1c7cbc;
    border: 4px solid #1c7cbc ;
    border-radius: 90px;
    min-width: 350px;
    width: 30%;
    text-decoration: none;
    font-size: 38px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 10px 10px 20px ;
}

#neemContact:hover {
    color: #3498DB;
    border: 4px solid #3498DB ;
}
#boeken {
    display: flex;
    overflow: hidden;
    justify-content: flex-start; }

#logistieke-boeken {
    margin-top: 50px;
}
.boek {
    width: 350px;
    background-color: white;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
}

.boek a {
    text-decoration: none;
    color: #bc1c7c;
}
.boek p {
    width: 300px;
    min-height: 100px;
    overflow: hidden;
}

.boek:hover {
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}




@media screen and (max-width: 1100px) {
    #projectenHref {
        margin-bottom: -240px;
        font-size: 18px;
        margin-left: 70%;
    }
}
@media screen and (max-width: 800px) {
    .container {
        width: 95%;
        flex-direction: column;
    }

    h1{
        text-align: center;
        font-size: 40px !important;
        color: #bc1c7c !important;
     }
     h2 {
         text-align: center;
         font-size: 25px;
     }

    .nav-inner {
        display: none;
    }

    #projectenHref {
        display: flex;
        justify-content: end;
        margin-right: 10px;
        margin-bottom: -220px;
        font-size: 16px;
        margin-left: 40%;
    }

    #supply-chain section div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #supply-chain-verkleind {
        display: flex;
        flex-wrap: wrap;
        margin-top: -280px;
        margin-bottom: 200px;
        color: white;
    }
    #supply-chain-verkleind div {
        width: 40%;
    }
    .supply-chain-klein-foto {
        object-fit:cover;
    }
    .schuine-box2 {
        height: 500px;
    }
    
    #a-supply-chain{
        margin-left: 50%;
    }
}
